*{
	margin-top: 0px;
}

.green{
	color:#00A79D;
	margin-left: auto;
	margin-right: auto;
}

.grey{
	color:#6D6E71;
	margin-left: auto;
	margin-right: auto;
}

h1{
	padding-top: 20px;
	text-align: center;
}

.button{
	background-color: #00A79D;
	color: #FFFFFF;
	margin-bottom: 10px;
	height: 40px;
	margin-top: 15px;
}

.button:placeholder{
	color: #939598;
}

.title-input{
		margin-bottom: 10px;
}

input{
	width: 55.12%;
	height: 30px;
	font-size: 25px;
	border: 2px solid #939598;
}

article{
	width: 55.12%;
}

input[type="text"]{
	font
}

header{
	background-color: #E5F3F2;
	text-align: center;
}

main{
	text-align: center;
}

.search-input{
	margin: 15px auto 10px;

}
section{
	text-align:center;
}

article{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}

h2{
	color: #6D6E71;
	display: inline-block;
	font-size: 30px;
	text-align:left;
	margin-left: auto;
}

h3{
	color: #6D6E71;
	display: inline-block;
}

.icon{
	height: 50px;
	width: 50px;
	display: inline-block;	
}

.delete{
	background: url("FEE-ideabox-icon-assets/delete.svg");
	float: right;
}
.delete:hover{
	background: url("FEE-ideabox-icon-assets/delete-hover.svg");
}
.upvote{
	background: url("FEE-ideabox-icon-assets/upvote.svg");
}
.upvote:hover{
	background: url("FEE-ideabox-icon-assets/upvote-hover.svg");
}
.downvote{
	background: url("FEE-ideabox-icon-assets/downvote.svg");
}
.downvote:hover{
	background: url("FEE-ideabox-icon-assets/downvote-hover.svg");

}