*{
	margin-top: 0px;
}

head{
	font-family: 'Open Sans', sans-serif;
}

.green{
	color:#00A79D;
	margin-left: auto;
	margin-right: auto;
}

.grey{
	color:#6D6E71;
	margin-left: auto;
	margin-right: auto;
}

h1{
	padding-top: 20px;
	text-align: center;
}

.button{
	background-color: #00A79D;
	color: #FFFFFF;
	margin-bottom: 10px;
	height: 40px;
	margin-top: 15px;
}

.button:placeholder{
	color: #939598;
}

.title-input{
		margin-bottom: 10px;
}

input{
	width: 55.12%;
	height: 30px;
	font-size: 25px;
	border: 2px solid #939598;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.search-input{
	margin-bottom: 45px;
}

article{
	width: 55.12%;
}

input[type="text"]{
	font\\
}

header{
	background-color: #E5F3F2;
	text-align: center;
}

main{

}

h3{
	font-family: 'Roboto Slab', serif;
	font-size: 18px;
}

p{
	display: inline-block;
	font-family: 'Roboto Slab', serif;
	color: #6D6E71;
}

article{
	margin-left: auto;
	margin-right: auto;
	height: 200px;
}

h2{
	color: #6D6E71;
	display: inline-block;
	font-size: 30px;
	text-align:left;
	margin-left: 0;
}

h3{
	color: #6D6E71;
	display: inline-block;
}

.icon{
	height: 30px;
	width: 30px;
	display: inline-block;	
}

hr{
	background-color: #D1D3D4;
}

.delete{
	background: url("FEE-ideabox-icon-assets/delete.svg");
	float: right;
}
.delete:hover{
	background: url("FEE-ideabox-icon-assets/delete-hover.svg");
}
.upvote{
	background: url("FEE-ideabox-icon-assets/upvote.svg");
	margin-right: 10px;
}
.upvote:hover{
	background: url("FEE-ideabox-icon-assets/upvote-hover.svg");
}
.downvote{
	background: url("FEE-ideabox-icon-assets/downvote.svg");
	margin-right: 10px;
}
.downvote:hover{
	background: url("FEE-ideabox-icon-assets/downvote-hover.svg");
}

@media screen and (max-width: 1000px) {
	input, article {
		width: 65%;
	}
}

@media screen and (max-width: 800px) {
	input, article {
		width: 75%;
	}
}

@media screen and (max-width: 600px) {
	input, article {
		width: 85%;
	}
}









